<ion-header class="cne-login-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <div class="cne-login-brand">
            <span class="cne-login-brand-icon">
                <img src="assets/img/cne/logos/emblem-cne-color.png" alt="CNE">
            </span>
            <span class="cne-login-brand-text">
                <span class="cne-login-brand-title">{{ 'core.login.cneappname' | translate }}</span>
                <span class="cne-login-brand-subtitle">{{ 'core.login.cneelections' | translate }}</span>
            </span>
        </div>

        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="openSettings()" [attr.aria-label]="'core.settings.appsettings' | translate">
                <ion-icon slot="icon-only" name="cne-configuration-01" aria-hidden="true" />
            </ion-button>
            <ion-button fill="clear" (click)="showHelp()" [attr.aria-label]="'core.help' | translate">
                <ion-icon slot="icon-only" name="cne-circle-question-mark" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding limited-width cne-login">
    <core-loading [hideUntil]="pageLoaded">
        @if (!siteCheckError && site && credForm) {

            <div class="ion-text-wrap ion-text-center core-login-info-box">
                <img src="assets/img/cne/banner-login-sm.png" class="cne-login-banner" alt="" aria-hidden="true">

                <h1 class="cne-login-title">{{ 'core.login.cnelogin' | translate }}</h1>
                <span class="cne-login-accent" aria-hidden="true"></span>
                <p class="cne-login-welcome">{{ 'core.login.cnewelcomeback' | translate }}</p>

                @if (exceededAttemptsHTML && supportConfig && loginAttempts >= 3) {
                    <core-login-exceeded-attempts [supportConfig]="supportConfig"
                        [supportSubject]="'core.login.exceededloginattemptssupportsubject' | translate">
                        <div [innerHTML]="exceededAttemptsHTML" (click)="exceededAttemptsClicked($event)"></div>
                    </core-login-exceeded-attempts>
                }
            </div>

            <div class="core-login-methods">
                @if (showLoginForm && !isBrowserSSO) {
                    <form [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
                        <ion-item class="cne-login-input" lines="none">
                            <ion-input type="text" name="username" placeholder="{{ 'core.login.cneusername' | translate }}"
                                formControlName="username" autocapitalize="none" autocorrect="off" autocomplete="username"
                                enterkeyhint="next" required="true" [attr.aria-label]="'core.login.cneusername' | translate ">
                                <ion-icon slot="start" name="cne-user-round" aria-hidden="true" />
                            </ion-input>
                        </ion-item>
                        <ion-item class="cne-login-input" lines="none">
                            <ion-input name="password" type="password" placeholder="{{ 'core.login.cnepassword' | translate }}"
                                formControlName="password" [clearOnEdit]="false" autocomplete="current-password" enterkeyhint="go"
                                required="true" [attr.aria-label]="'core.login.cnepassword' | translate ">
                                <ion-icon slot="start" name="cne-square-lock-02" aria-hidden="true" />
                                <ion-input-password-toggle slot="end" showIcon="cne-eye" hideIcon="cne-eye-closed" />
                            </ion-input>
                        </ion-item>
                        <ion-button expand="block" type="submit" [disabled]="!credForm.valid"
                            class="ion-margin core-login-login-button ion-text-wrap">
                            {{ 'core.login.cneloginbutton' | translate }}
                        </ion-button>
                        <!-- Remove this once Ionic fixes this bug: https://github.com/ionic-team/ionic-framework/issues/19368 -->
                        <input type="submit" class="core-submit-hidden-enter" />

                        <!-- Forgotten password option. -->
                        @if (showForgottenPassword) {
                            <ion-button expand="block" fill="clear" class="core-login-forgotten-password core-button-as-link ion-text-wrap"
                                (click)="forgottenPassword()">
                                {{ 'core.login.cneforgotpassword' | translate }}
                            </ion-button>
                        }
                    </form>
                }@else if (isBrowserSSO) {

                    <ion-button expand="block" (click)="openBrowserSSO()"
                        class="ion-margin core-login-login-inbrowser-button ion-text-wrap">
                        {{ 'core.login.cneloginbutton' | translate }}
                        <ion-icon name="fas-up-right-from-square" slot="end" aria-hidden="true" />
                    </ion-button>
                    <p class="text-center core-login-inbrowser">{{ 'core.openinbrowserdescription' | translate }}</p>

                }


                @if (siteConfig) {
                    <core-login-methods [siteConfig]="siteConfig" [siteUrl]="site.siteUrl" [showLoginForm]="showLoginForm" />
                }
            </div>

            @if (!isBrowserSSO && (canSignup || authInstructions)) {
                <div class="core-login-sign-up">
                    <h2>{{ 'core.login.firsttime' | translate }}</h2>

                    <ion-item class="ion-text-wrap ion-no-padding core-login-instructions">
                        <ion-label>
                            @if (authInstructions) {
                                <core-format-text [text]="authInstructions" [filter]="false" />
                            }
                        </ion-label>
                    </ion-item>

                    @if (canSignup) {
                        <ion-button expand="block" class="ion-margin ion-text-wrap" fill="outline" (click)="openEmailSignup()">
                            {{ 'core.login.startsignup' | translate }}
                        </ion-button>
                    }
                </div>
            }

        }

        @if (siteCheckError) {
            <core-empty-box icon="fas-circle-exclamation">
                <div [innerHTML]="siteCheckError"></div>
                <ion-button expand="block" (click)="checkSite()" fill="outline">
                    {{ 'core.tryagain' | translate }}
                </ion-button>
            </core-empty-box>
        }

    </core-loading>
</ion-content>
